/* ----------------------------------Basic Setup--------------------------- */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color: white;
    color: #555;
    font-family: 'Andika','Arial','sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}


/* -----------------------------Header----------------------------------------------- */
header{
    background-image:linear-gradient(rgba(241, 131, 131, 0.733),rgba(240, 190, 150, 0.788)), 
    url('img/hero.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}


/* ---------------------First-Text(Goodbye junkfood......)------------------------------ */
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    margin: 0;
    color: rgb(7, 7, 7);
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    /* text-decoration:underline; */
    letter-spacing: 1px;
    word-spacing: 1px;
    animation: headerAnim 3s;
}
@keyframes headerAnim{
    0%{
        opacity: 0;
        transform: translateX(300px);

    }
    80%{
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translate(0);

    }

}

/* -------------------------------Buttons------------------------------------- */
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 10px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 30px;
    color: rgb(247, 241, 241);
    transition: background-color .5s, border .5s, color .5s;
}

.main-btn:link,
.main-btn:visited{
    background-color:#f08e39bb;
    border: 2px solid  rgba(241, 234, 234, 0.767) ;
    color: #ffffff;
    

}
.sec-btn:link,
.sec-btn:visited{
    border: 2px solid  rgba(236, 226, 226, 0.767) ;
    color:#e67e22;


}

/* ---------------------------Button Hover-------------------------------------- */
.btn:hover,
.btn:active{
    background-color: #cf6d17;

}
.main-btn:hover,
.main-btn:active{
    border: 2px solid  #cf6d17bb;
}
.sec-btn:hover,
.sec-btn:active{
    border: 2px solid  #cf6d17c5;
    color: white;


}

.logo-img{
    width: auto;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    margin: 10px 30px;
    height: 100px;
}
.navigation-bar{
    float: right;
    list-style: none;
    margin: 10px 5px;
}
.navigation-bar li{
    display: inline-block;
    margin: 17px;
    
}
.navigation-bar li a:link,
.navigation-bar li a :visited{
    text-decoration: none;
    color:#0f0f0eb2;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 300px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 1s;
    word-spacing: 3px;
    padding:8px 0;
}

.navigation-bar li a:hover,
.navigation-bar li a:active{

    border-bottom: 2px solid #e67e22;
    /* border-radius: 50px; */
    /* background-color: #e67e22; */

}